# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
*.patch

# Output files
runs/
*.npz
*.log
*.pdf
*.png
*.tex
*.jsonl
*.sh
*.csv

# OS
.DS_Store
Thumbs.db

pyrightconfig.json

# Julia env
trot/gmps/itensor_gmps_env/
